.slider {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-image {
  width: 90%;
  height: 500px;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

.arrows {
  display: flex;
  align-items: center;
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  color: #333;
  padding: 10px;
}
.arrow:hover {
  color: rgb(172, 26, 198);
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indicator {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.indicator.active {
  background-color: #762776;
}
